set SECRET_KEY=<>
set DB_NAME=<>
set DB_USER=<>
set DB_PASSWORD=<>
set DB_HOST=<>
set DB_PORT=<>
STRIPE_WEBHOOK_SECRET='whsec_24de2f5f65c7abbd2c450054a9e75001ad23b714fc5c715d0ca806dc8d4aa95f' # development
